body {
    background-color: #8B0C1C;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#container {
    width: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    color: white;
    margin-top: 20px;
    font-size: 44px;
    letter-spacing: 3px;
    font-weight: 900;
}

#menu {
    flex: 100%;
    background-color: #2E2D2D;
    margin-top: 20px;
    color: #ffffff;
    padding: 10px;
}

#flex_container {
    display: flex;
    flex-wrap: nowrap;
}

#sidebar {
    min-height: 620px;
    padding: 20px;
    background-color: #B08787;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 840px) {
    #sidebar {
        display: none;
    }
}

#content {
    flex-grow: 4;
    padding: 40px;
    background-color: #dedede;
    min-height: 580px;
    text-align: justify;
}

#footer {
    clear: both;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

.option {
    float: left;
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px solid #444444;
    opacity: 0.8;
}

    .option:hover {
        background-color: #000000;
        cursor: pointer;
    }

.optionL {
    flex: auto;
    font-size: 18px;
    height: 35px;
    padding: 10px;
    border-bottom: 2px solid #444444;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

    .optionL:hover {
        background-color: #f36742;
        color: white;
        cursor: pointer;
    }

.bigtitle {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2px;
}

.basic_form {
    padding: 20px;
    border: thin solid #151827;
}

    .basic_form label {
        display: block;
    }

.dottedline {
    height: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 2px dotted #444444;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: gray;
}
