
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>Ministerstwo Spraw Zagraniacznych</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" href="style.css" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="container">

        <div id="logo">
            Ministerstwo Spraw Zagraniacznych
        </div>

        <div id="menu">
            <div class="option">Informacje</div>
            <div class="option">Wyszukaj sprawę</div>
            <div class="option">Nowa sprawa</div>
            <div class="option">Decyzje</div>
            <div class="option">Raporty</div>
            <div class="option">Przesyłki</div>
            <div class="option">Rodzaje dokumentów</div>
            <div class="option">Logowanie</div>
            <div style="clear:both;"></div>
        </div>

        <div id="flex_container">
            <div id="sidebar">
                <div class="optionL">Informacje</div>
                <div class="optionL">Wyszukaj sprawę</div>
                <div class="optionL">Nowa sprawa</div>
                <div class="optionL">Decyzje</div>
                <div class="optionL">Raporty</div>
                <div class="optionL">Przesyłki</div>
                <div class="optionL">Rodzaje dokumentów</div>
                <div class="optionL">Logowanie</div>
            </div>

            <div id="content">
                <span class="bigtitle">Wydawanie decyzji</span>
                <h1> Sprawa 09755 </h1>
                <h2> Id sprawy</h2>
                <p>09755</p>
                <h2> Imię i nazwisko klienta</h2>
                <p>Arkadiusz Nowak</p>
                <h2>Nr PESEL klienta</h2>
                <p>97051202334</p>
                <h2>Adres zamieszkania klienta</h2>
                <p>ul. Modrzewiowa 12, 83-985 Cośtamowo, woj. pomorskie, Polska</p>
                <h2>Typ i nr dokumentu klienta</h2>
                <p>Prawo jazdy, DRQ120096</p>
                <h2>Treść sprawy</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mollis odio eu bibendum. Praesent non hendrerit risus. Nulla id semper sem. Mauris risus mauris, ultrices sed ullamcorper sed, vulputate vel nisi. Aliquam augue ante, mattis in pulvinar vitae, ultrices nec leo. Nulla ultricies augue enim, sit amet semper tellus vulputate sit amet. Maecenas tincidunt, ex eu viverra scelerisque, quam lectus auctor nunc, at pretium nibh lacus in ligula. Cras condimentum felis ac aliquet tristique. Sed elementum eu nulla vel rutrum. Cras feugiat nulla non congue malesuada.


                    Cras et nulla vehicula, efficitur enim non, fermentum tortor. Curabitur id elementum leo. Sed eget turpis accumsan dolor mollis imperdiet. Praesent pellentesque laoreet lectus, at commodo magna varius vitae. Aliquam erat volutpat. Curabitur commodo, tortor laoreet sagittis cursus, nulla enim laoreet libero, et egestas risus ante vel orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc quis posuere massa, sed sollicitudin lorem. Mauris lacinia, massa efficitur malesuada luctus, arcu ex mattis erat, a venenatis magna risus nec neque. Nulla vulputate nisl urna, quis egestas orci suscipit tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras auctor nec elit at ultricies. Morbi aliquam pharetra diam, vitae porta felis. Pellentesque vel arcu tincidunt, luctus justo quis, ultrices erat. Vivamus efficitur leo vitae dui molestie, eu varius sapien iaculis. In quis pharetra mauris.


                    Nam ullamcorper turpis non tristique sollicitudin. Etiam id magna lacus. Pellentesque vestibulum ex eget quam consectetur, sit amet luctus erat feugiat. Sed gravida tellus tempus consequat rhoncus. Phasellus lobortis magna et risus pharetra, facilisis blandit sapien tristique. Vivamus aliquam interdum arcu, eget facilisis ante gravida ut. Proin nec nisl ut lacus finibus sagittis id non nibh. Donec volutpat pretium libero. Sed fermentum vel ante vitae mattis. Curabitur porttitor turpis at scelerisque auctor. Sed vitae iaculis risus, ut iaculis nibh.
                </p>
                <h2>Obecna decyzja w sprawie</h2>
                <p>Do uzupełnienia</p>
                <h2>Data decyzji</h2>
                <p>14.05.18</p>
                <button>Edytuj sprawę</button>
                <button>Usuń sprawę</button>
                <form class="basic_form">
                    <label>
                        <p>Wydaj nową decyzję:</p>
                        <select id="font">
                            <option value="BezZmian" selected="selected">Nie dodawaj nowej decyzji</option>
                            <option value="Pozytywna">Pozytywna</option>
                            <option value="Negatywna">Negatywna</option>
                            <option value="DoUzupelnienia">Do uzupełnienia</option>
                        </select>
                    </label>
                    <p><input type="submit" value="Zatwierdź nową decyzję"></p>
                </form>





            </div>
        </div>
        <div id="footer">
            <a href="">Polityka cookies</a> &copy; Wszelkie prawa zastrzeżone
        </div>

    </div>

</body>
</html>

